{% extends 'layout.html.twig' %}

{% block title 'Image Gallery - ' %}

{% block body %}
    <h2>Image Gallery</h2>
    <hr>
    {% for item in images %}
        <img src="{{ app.request.baseUrl }}/img/{{ item }}" class="img-thumbnail">
    {% else %}
        <p><strong>Sorry, no images were found.</strong></p>
    {% endfor %}
    <br><br>
    <hr>
    <a href="{{ app.request.baseUrl }}/" class="btn btn-primary">Upload some images &raquo;</a>
{% endblock %}
