<!DOCTYPE html>
<html>
  <head>
    <title>{% block sub_title '' %}{% block title 'UpThing' %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/css/app.css"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/bootstrap/assets/js/html5shiv.js"></script>
      <script src="/bootstrap/assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
<!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">UpThing</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li {% block upload_nav %}class="active"{% endblock %}><a href="{{ app.url_generator.generate('upload_form') }}"><i class="glyphicon glyphicon-cloud-upload"></i> Upload</a></li>
              <li {% block gallery_nav '' %}><a href="{{ app.url_generator.generate('gallery') }}"><i class="glyphicon glyphicon-th-large"></i> The Gallery</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li><a href="http://whateverthing.com">Visit Whateverthing <i class="glyphicon glyphicon-send"></i></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

<div class="container">
  {% block body %}
    Welcome to UpThing!
  {% endblock %}
</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/components/jquery/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
